@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-hover {
    @apply text-mainColor duration-300;
  }
}

.style-group {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 20;
  transition-duration: 500ms;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  top: 150px;
  gap: 25px;
  background: rgba(255, 255, 255, 0.94);
  transition: all 0.5s;
}

.style-group-mobile {
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  transition-duration: 500ms;
}

.style-headerscrolled {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  transition: all 1s ease-in-out;
  transition-duration: 500ms;
  background: rgba(255, 255, 255, 0.94);
}

.style-img{
  transition: all 2s ease-in-out;
}

.box-zoom-transfer {
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.close-open{
  transform: translateX(-500px);

}

.ring-circle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #9c191e;
  border-radius: 50%;
  position: absolute;
  animation: ring 1s linear infinite;
}

.ring-background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 15px solid #f3f4f6;
  border-radius: 50%;
  position: absolute;
  animation: ringbackground 1s linear infinite;
}

.img-rotate {
  animation: rotate 3s linear infinite alternate;
}

.container input:checked ~ .checkmark {
  background-color: #9c191e !important;
}

.lds-ring {

  position: relative;
 
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-itemProduct {
  position: relative;
  overflow: hidden;
}

.loading-itemProduct::before{
  background-color: #dddddd;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-itemProduct::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
  animation: skeletonLoading 1s infinite alternate;
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::before{
  background-color: #dddddd;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
  animation: skeletonLoading 1s infinite alternate;
}

@keyframes skeletonLoading {
  from {
    left: -50%;
  } to {
    left: 50%;
  }
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 6px solid #e57905;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e57905 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ringbackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}

@keyframes ring {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}
